/* BODY */
.wrapper-ek {
  background: url("../img/Artboard 1.png") no-repeat;
  background-size: contain;
  background-position: top;
  /* width: 100%;
  max-width: 100%; */
  min-height: auto;
  z-index: 1;
}

.description {
  /*    display: block;*/
  margin: 1vh 0;
  padding: 4px;
}

.radio {
  display: inline;
}

input[type="number"] {
  width: 40px;
}

#tombol-container {
  float: right;
}

.tombol-edit {
  width: 13vh;
  float: right;
  margin: 2vh;
}
