/* BODY */
.wrapper-kf {
  /* overflow-y: scroll; */
  background: url("../img/Artboard 1.png") no-repeat;
  background-position: top;
  background-size: cover;
  overflow-x: scroll;
  z-index: -1;
}

/* Table */
.kotak {
  margin: 0 10vh;
  width: 100%;
}

.table {
  background-color: rgb(238, 236, 234) !important;
}

.table tbody td {
  border-right: 0.5px rgba(68, 121, 145, 0.25) solid;
}

.table tbody tr {
  border-bottom: 0.5px rgba(68, 121, 145, 0.25) solid;
}

/* Button */
#btn-add-karyawan {
  margin: 5vh 10vh;
  float: right;
}

.import-excel {
  display: none;
}

table li button,
table li a {
  margin: 1vh 0;
  width: 100%;
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 575px) {
  .wrapper-kf h1.tambah {
    padding: 0 4rem;
    font-size: 1.5em;
  }

  .wrapper-kf .container {
    width: 90%;
  }
}

@media only screen and (max-width: 386px) {
  .wrapper-kf h1.tambah {
    padding: 0 4rem;
    font-size: 1em;
  }
}
