/* BODY */
#wrapper-kf {
  /* overflow-y: scroll; */
  background: url("../img/Artboard 1.png") no-repeat;
  background-size: contain;
  background-position: top;
  width: 100%;
  max-width: 100%;
  min-height: 90%;
  overflow-x: scroll;
  z-index: -1;
}

.kotak {
  margin: 0 10vh;
  width: 100%;
}

.table {
  background-color: rgb(238, 236, 234) !important;
}

.table tbody td {
  border-right: 0.5px rgba(68, 121, 145, 0.25) solid;
}

.table tbody tr {
  border-bottom: 0.5px rgba(68, 121, 145, 0.25) solid;
}

#btn-add-karyawan {
  margin: 5vh 10vh;
  float: right;
}

.push {
  background: black;
  height: 5vh;
}

table li button,
table li a {
  margin: 1vh 0;
  width: 100%;
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 575px) {
  h1.display-4 {
    padding: 0 4rem;
  }
}
