html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  /* overflow-x: hidden; */
}

/* HEADER NAVBAR */
.nav-text-color a {
  color: #bef7f5 !important;
  text-shadow: 2px 2px 2px #00741f;
}

#nav-bg {
  background-color: transparent;
  padding: 3vh 10vh;
  width: 100%;
  margin-bottom: -104px;
  z-index: 1;
}

@media only screen and (max-width: 575px) {
  nav.navbar img {
    width: 75px;
    height: 37.5px;
  }
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 18px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.btn-close,
.open-slide {
  background-color: transparent;
  border: 0;
  color: rgb(187, 187, 187);
  transition: 0.3s ease-out;
}

.open-slide:hover {
  cursor: pointer;
  color: white;
  font-size: 2rem;
  animation: 5s ease-in;
}

.btn-close:hover {
  font-size: 3rem;
  cursor: pointer;
  color: wheat;
  animation: 5s ease-in;
}

@media (max-width: 991px) {
  .navbar-nav {
    display: none;
  }
}

@media (min-width: 991px) {
  .open-slide {
    display: none;
  }
}

/* BODY */
.gambar {
  height: 10px;
}

/* Loading */
/* Loader */
.loader {
  position: fixed;
  z-index: 99;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Wrapper */
.wrapper {
  background: url("../img/Artboard 1.png") no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 90vh;
  overflow: hidden;
  color: #128d6e;
}

.kotak-konten {
  text-align: center;
  height: 78vh;
  width: 100%;
  position: relative;
  transform: translateY(30%);
}

.kotak-konten p {
  text-align: justify;
  /* padding: 1vh 14vh; */
}

.carousel {
  z-index: 0;
}

.carousel-item .carousel-caption h2 {
  text-shadow: 2px 2px 4px rgb(1, 114, 57);
}

.gambar-landing {
  max-width: 100%;
  height: 90vh;
  object-fit: cover;
}

/* Footer */
footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  color: rgb(200, 240, 227);
  background-color: rgb(44, 44, 44);
}

#copyright {
  width: 100%;
  background-color: #161616;
}

footer #foot {
  padding: 1em 0;
}

footer a {
  color: white;
  font-size: 20px;
  /* padding: 1rem; */
}

footer img.logo {
  width: 195px;
  height: 100px;
}

.sosmed {
  padding: 0 10rem;
}

.sosmed a {
  font-size: 30px;
}

#copyright-t {
  line-height: 7vh;
}

#about-us {
  text-align: justify;
}

.contact {
  display: inline;
}

@media only screen and (max-width: 1125px) {
  h1.tengah {
    font-size: 50px;
  }
}

@media only screen and (max-width: 991px) {
  .kotak-konten {
    background-color: white;
    box-shadow: 0 0 1.5em rgb(123, 224, 191, 0.5);
    padding: 1rem;
    border-radius: 2%;
    height: auto;
    transform: translateY(80%);
  }

  footer img.logo {
    margin: 1rem auto;
    width: 285px;
    height: 150px;
  }

  .wrapper {
    min-height: 60vh;
  }

  #about-us {
    margin-top: 1rem;
  }

  .pembates {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  h1.tengah {
    font-size: 46px;
  }

  footer img.logo {
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .sosmed #instagram,
  .sosmed #website,
  .sosmed #linkedin {
    width: 0;
    margin: 0 auto;
  }

  footer .container {
    width: 90%;
  }
}

@media only screen and (max-width: 501px) {
  .wrapper {
    min-height: 55vh;
  }

  h1.tengah {
    font-size: 30px;
  }

  .wrapper p {
    font-size: 15px;
  }
}
