/* BODY */
.wrapper-add {
  /* linear-gradient(rgb(46, 45, 45, 0.45), rgb(77, 76, 76, 0.5)), */
  background: url("../img/Artboard 1.png") no-repeat;
  background-size: contain;
  background-position: top;
  min-height: 90vh;
}

h1.tambah {
  text-shadow: 2px 2px 3px white;
}

.btn-box {
  width: 100%;
  margin: 5vh;
}

button {
  float: right;
  width: 80px;
  margin: 0 1vh;
}

@media only screen and (max-width: 768px) {
  .wrapper-add a.btn {
    display: none;
  }

  .wrapper-add h5 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper-add {
    background-size: unset;
  }

  .wrapper-add .container {
    width: 90%;
  }

  .wrapper-add h5 {
    font-size: 0.75em;
  }
}
